.form-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    min-width: 400px;
    padding: 20px;
  }
  
  .card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-card {
    width: 100%;
  }
  
  .mb-3.text-center {
    margin-bottom: 1rem;
    text-align: center;
  }
  @media (max-width: 768px) {
    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8f9fa;
      min-width: 80%;
    }
  }
  