.form-container {
  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f8f9fa;
    min-height: 100vh;
    padding: 20px;
  }
  
  .card {
    padding: 20px;
    margin-top: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-card {
    width: 100%;
    max-width: 500px;
  }
  
  .mb-3.text-center {
    margin-bottom: 1rem;
    text-align: center;
  }
  