.containerDoss {
    user-select: none;
  }

  
  
  .tabla-contenedor {
    overflow-x: hidden;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: -10px;
}

  
  .titulolistas{
    margin-left: 5vw;
    position: relative;
    top: 50px;
    margin-right: 30vw;
  }
  
  .butn {
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  
  
  
  .butn-borrar {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .butn-borrar:hover {
    background-color: #bd2130;
    border-color: #bd2130;
    transform: translateY(-2px);
  }
  .table {
    width: 98%;   
     border-collapse: none;
    margin-top: 60px;
    user-select: text;
}

  .table thead th {
    border-top: none; 
    background-color: #F3F4F6;
    color: #1F2937;
    padding: 10px;
    border: none;
    text-align: center;
  }
  .table thead th:first-child {
    border-top-left-radius: 10px;
  }
  .table thead th:last-child {
    border-top-right-radius: 10px;
  }
  .table tbody td {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
  }
  .fila-lista:hover {
    background-color: #f8f9fa; 
  }
  .btn {
    margin-left: 5px;
    margin-right: 5px;
  }
  .btn-editar {
    color: #007bff;
    border-width: 2px;
    border-color: #007bff; 
    background-color: transparent; 
    font-weight: 2px;
  }
  .btn-editar:hover {
    color: #0056b3; 
    border-color: #0056b3;
    background-color: rgba(0, 123, 255, 0.1);
    transform: translateY(-2px); 
  }
  .btn-eliminar {
    color: #dc3545; 
    border-width: 2px;
    border-color: #dc3545; 
    background-color: transparent;
    font-weight: 2px;
  }
  .btn-eliminar:hover {
    color: #bd2130; 
    border-color: #bd2130; 
    background-color: rgba(220, 53, 69, 0.1); 
    transform: translateY(-2px);
  }
  
  
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }
  .text {
    justify-content: center;
    margin-right: 60px;
    width: 300px;
  }
  .conf, .ref {
    margin-right: 50px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    width: 50px;
  }
  .conf {
    background-color: #28a745;
  }
  .ref {
    background-color: #bd2130;
  }
  .botonesx {
    display: flex;
    justify-content: center;
    width: 200px;
    margin-left: 140px;
  }
  .til1 {
    margin-left: 140px;
    width: 400px;
  }
  .til2 {
    margin-left: 40px;
    width: 350px;
    text-align: center;
  }

  
  .tabla-contenedor {
    overflow-x: auto;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: -10px;
  }
  
  
  
  
  
  
