.tabla-edificios {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 500px;
}

.tabla-edificios thead tr {
  background-color: #f3f4f6;
  color: #1f2937;
  text-align: left;
}

.tabla-edificios thead th:first-child {
  border-top-left-radius: 10px;
}

.tabla-edificios thead th:last-child {
  border-top-right-radius: 10px;
}

.tabla-edificios tbody td {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}

